:root {
    --ff-main: 'Gowun Dodum', sans-serif;
    --ltGrey: lightgrey;
    --medGrey: rgb(117, 116, 116);
    --drkGrey: rgb(41, 41, 41);
    --lgtRed: rgb(247, 169, 169);
    --medRed: rgb(253, 91, 91);
    --redRed: red;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--medGrey);
    font-family: var(--ff-main);
    margin: 5em 30em 1.5em 30em;
    text-align: center;
}

/*.container__div {
    display: flex;
}*/

.list__container {
    max-width: 10em;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
}

.add__button {
    background-color:var(--drkGrey);
    color: var(--ltGrey);
    border-radius: 7px;
    padding: .2em;
}

.delete__contain {
    background-color:var(--drkGrey);
    color: var(--ltGrey);
    border-radius: 7px;
    padding: .2em;
    font-size: 1rem;
    max-width: 6em;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.todo__input {
    margin: .5em 0 .5em 0;
    font-size: 1.2rem;
}

p {
    background: transparent linear-gradient(270deg, var(--lgtRed) 0%, var(--medRed), var(--redRed) 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 7px;
    font-size: 1.5em;
    max-width: 100em;
    padding: .2em;
    margin: .2em;
}

.draggable {
    cursor: move;
}

.dragging {
    background-color: var(--ltGrey);
    opacity: .5;
}