:root {
    --ff-main: 'Gowun Dodum', sans-serif;
    --ltGrey: lightgrey;
    --medGrey: rgb(117, 116, 116);
    --drkGrey: rgb(41, 41, 41);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--medGrey);
    font-family: var(--ff-main);
    margin: 5em 30em 1.5em 30em;
    text-align: center;
}

/*.container__div {
    display: flex;
}*/

.list__container {
    max-width: 10em;
    text-align: left;
}

.add__button {
    background-color:var(--drkGrey);
    color: var(--ltGrey);
    border-radius: 7px;
    padding: .2em;
}

.delete__contain {
    background-color:var(--drkGrey);
    color: var(--ltGrey);
    border-radius: 7px;
    padding: .2em;
    font-size: 2em;
    max-width: 3.5em;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.todo__input {
    margin: .5em 0 .5em 0;
}

p {
    list-style: none;
    font-size: 1.2em;
    max-width: 10em;
}

.draggable {
    cursor: move;
}

.dragging {
    background-color: var(--ltGrey);
    opacity: .5;
}