:root {
    --ff-main: 'Gowun Dodum', sans-serif;
    --ltGrey: lightgrey;
    --medGrey: rgb(117, 116, 116);
    --drkGrey: rgb(41, 41, 41);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--medGrey);
    font-family: var(--ff-main);
    margin: 5em 30em 1.5em 30em;
    text-align: center;
}

.list__container {
    max-width: 10em;
    text-align: left;
}

.add__button {
    background-color:var(--drkGrey);
    color: var(--ltGrey);
    border-radius: 7px;
    padding: .2em;
}

.todo__input {
    margin: .5em 0 .5em 0;
}